:root {
  --color-primary: #1d1b67;
  --color-secondary: #425466;
  --color-accent-darkgreen: #005661;
  --color-accent-blue: #3b60bf;
  --color-bg-main: #fff;
  --color-bg-blue: #46ccde;

  --fs-xl: 3rem;
  --fs-500: 2rem;
  --fs-400: 1.6rem;
  --fs-300: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: var(--fs-400);
  color: var(--color-secondary);
}

h1,
h2 {
  font-size: var(--fs-xl);
  font-weight: 700;
  color: var(--color-primary);
}

p {
  line-height: 1.4;
}

a {
  text-decoration: none;
  font-weight: 600;
}

.link--underlined {
  text-decoration: underline;
  white-space: nowrap;
}

/* Button */
.btn {
  display: inline-block;
  color: var(--color-bg-main);
  background-color: var(--color-primary);
  padding: 1em 1.2em;
  border-radius: 5px;
  transition: opacity 0.1s ease-out;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

/* Input Group */
.input-group {
  border: 1.5px solid #a8a9a9;
  border-radius: 5px;
  display: flex;
  padding: 4px;
  justify-content: space-between;
  max-width: 400px;
}

.input {
  border: none;
  outline: 0;
  color: var(--color-primary);
  flex-grow: 1;
  width: 0;
  padding-left: 2rem;
}

::placeholder {
  color: var(--color-secondary);
}

/* Hero */
.hero__content {
  padding: 3rem 0;
}

.hero__title {
  margin: 0 0 0.5em;
}
.hero__text {
  margin-bottom: 1em;
}

.hero__btn-group {
  display: flex;
  column-gap: 12vw;
  align-items: center;
  margin-bottom: 1.2em;
}

.hero__disclaimer {
  display: flex;
  align-items: flex-start;
  column-gap: 0.8em;
}

.hero__disclaimer span {
  padding-top: 0.2em;
}

.hero__img {
  width: 100%;
  padding: 3.5rem 3rem;
  background-color: var(--color-bg-blue);
}
