:root {
  --color-primary: #1d1b67;
  --color-secondary: #425466;
  --color-accent-darkgreen: #005661;
  --color-accent-blue: #3b60bf;
  --color-bg-main: #fff;
  --color-bg-blue: #46ccde;
  --color-bg-lightblue: #cdf9ff;

  --fs-xl: 3rem;
  --fs-600: 3rem;
  --fs-500: 1.8rem;
  --fs-400: 1.6rem;
  --fs-300: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 3rem 0;
}

.flex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  :root {
    --fs-xl: 4.2rem;
  }

  .container {
    padding: 6rem 0;
  }
}

@media screen and (min-width: 600px) {
  .flex--row {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .flex {
    flex-direction: row;
  }
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: var(--fs-400);
  color: var(--color-secondary);
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: 700;
  color: var(--color-primary);
}

h1 {
  font-size: var(--fs-xl);
}

h2 {
  font-size: var(--fs-600);
}

p {
  line-height: 1.4;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: var(--color-secondary);
  transition: opacity 0.2s ease-out;
}

a:hover,
a:focus {
  opacity: 0.7;
}

.link--underlined {
  text-decoration: underline;
  white-space: nowrap;
}

/* Button */
.btn {
  display: inline-block;
  color: var(--color-bg-main);
  background-color: var(--color-primary);
  padding: 1em 1.2em;
  border-radius: 5px;
  transition: opacity 0.1s ease-out;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

/* Input Group */
.input-group {
  border: 1.5px solid #a8a9a9;
  border-radius: 5px;
  display: flex;
  padding: 4px;
  justify-content: space-between;
  max-width: 400px;
}

.input {
  border: none;
  outline: 0;
  color: var(--color-primary);
  flex-grow: 1;
  width: 0;
  padding-left: 2rem;
}

::placeholder {
  color: var(--color-secondary);
}

/* Header Block */
header.container {
  padding-bottom: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__toggler {
  cursor: pointer;
}

.nav__list {
  width: 100%;
  padding-left: 0;
}

.nav__item {
  list-style-type: none;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
  padding-top: 2rem;
}

@media screen and (min-width: 600px) {
  .nav {
    justify-content: normal;
    gap: 4rem;
  }

  .nav__list {
    width: auto;
    flex-grow: 1;
    max-height: 100%;
    opacity: 1;
    flex-direction: row;
  }

  .collapsible--expanded .collapsible__content {
    padding-top: 0;
  }
  .nav__toggler {
    display: none;
  }

  .nav__link {
    font-weight: 400;
  }

  .nav__item:last-of-type {
    margin-left: auto;
  }
}

/* Hero Block*/
.hero__title {
  margin: 0 0 0.5em;
}
.hero__text {
  margin-bottom: 1em;
}

.hero__btn-group {
  display: flex;
  column-gap: 12vw;
  align-items: center;
  margin-bottom: 1.2em;
}

.hero__disclaimer {
  display: flex;
  align-items: flex-start;
  column-gap: 0.8em;
}

.hero__disclaimer span {
  padding-top: 0.2em;
}

.img-container {
  padding: 3.5rem 0;
  background-color: var(--color-bg-blue);
  position: relative;
}

.hero__img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .block-hero {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 4rem;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }

  .block-hero .container {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .hero__btn-group {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    width: fit-content;
  }

  .hero__btn-group .demo-link {
    align-self: center;
  }

  .img-container {
    background-color: rgba(255, 255, 255, 0);
  }

  .hero__img {
    padding-left: min(5vw, 70px);
  }

  .blue-background {
    position: absolute;
    background-color: var(--color-bg-blue);
    width: 100vw;
    height: 120%;
    left: 45%;
    top: -120px;
    z-index: -1;
  }
  /* .img-container::before {
    content: "";
    background-color: var(--color-bg-blue);
    position: absolute;
    top: -200px;
    bottom: 0;
    left: 0;
    right: 0px;
    height: 100%;
    z-index: -1;
  } */
}

@media screen and (min-width: 900px) {
  .blue-background {
    height: 110%;
  }
}

/* Testimonial Block*/
.testimonial__title {
  padding-bottom: 2.5rem;
}

.avatar-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding-bottom: 3rem;
}

.avatar-group img {
  width: 45px;
}

.testimonial__text + .testimonial__text {
  padding-top: 3rem;
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .block-testimonial .flex {
    flex-direction: row;
    justify-items: space-between;
    gap: 3rem;
  }

  .testimonial__title {
    width: 55%;
  }

  .avatar-group {
    width: 45%;
  }
}

@media screen and (min-width: 900px) {
  .block-testimonial {
    display: flex;
    gap: 13rem;
  }

  .block-testimonial .flex {
    flex-direction: column;
    width: 50%;
  }

  .testimonial__content {
    width: 50%;
  }
}

/* Feature Block */
.block-feature {
  background: var(--color-bg-lightblue);
}
.feature__title {
  font-size: var(--fs-300);
  color: var(--color-accent-blue);
  margin-bottom: 0.5em;
}

.feature__subtitle {
  font-size: var(--fs-600);
  color: var(--color-accent-darkgreen);
  margin-bottom: 0.4em;
}

.feature__text {
  margin-bottom: 0.8em;
}

.feature + .feature {
  margin-top: 5rem;
}

@media screen and (min-width: 900px) {
  .block-feature .flex {
    gap: 12rem;
  }

  .feature + .feature {
    margin: 0;
  }
}

/* Footer */
.footer__logo {
  margin-bottom: 2.3rem;
}

ul[title]::before {
  content: attr(title);
  display: block;
  font-size: var(--fs-500);
  font-weight: 700;
  color: #000;
  margin-bottom: 1.3rem;
}

.footer__list {
  padding-left: 0;
}

.footer__item {
  list-style-type: none;
}

.footer__item + .footer__item {
  margin-top: 1.1rem;
}

.footer__link {
  font-weight: 400;
}

footer .flex {
  gap: 1.7rem;
}

.call-out {
  margin-top: 4rem;
}

.call-out::before {
  content: "Try TweetNow";
  display: block;
  font-size: var(--fs-400);
  font-weight: 700;
  color: #000;
  margin-bottom: 1.3rem;
}

@media screen and (min-width: 600px) {
  footer .flex {
    column-gap: 6.5rem;
  }
}

@media screen and (min-width: 900px) {
  footer .flex {
    justify-content: space-between;
    align-items: center;
  }

  .call-out {
    margin-top: 0;
    flex-basis: 430px;
  }
}
