<footer class="container">
  <img class="footer__logo" src="Assets/Logo.svg" alt="TimeNow Logo" />
  <div class="flex flex-footer">
    <ul class="footer__list" title="Product">
      <li class="footer__item">
        <a class="footer__link" href="#">Homepage</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Pricing</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Features</a>
      </li>
    </ul>
    <ul class="footer__list" title="Help">
      <li class="footer__item">
        <a class="footer__link" href="#">Live Chat</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Send Email</a>
      </li>
      <li class="footer__item"><a class="footer__link" href="#">FAQ</a></li>
    </ul>
    <ul class="footer__list" title="Company">
      <li class="footer__item">
        <a class="footer__link" href="#">About</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Customers</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="#">Blog</a>
      </li>
    </ul>
  </div>
  <div class="call-out">
    <div class="input-group">
      <input type="email" class="input" placeholder="Email Address" />
      <a class="btn" href="#">Start Scheduling</a>
    </div>
  </div>
</footer>
